/*General Styles*/
/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --light-background: #afcafe;
    --link-color:#cdf6ae;
    --dark-background:#440ba7;
    --dark-text: #137a6e;
    --link-highlight:#f2c3f2;
}

html {
    /* set 1rem to 10px */
    font-size: 62.5%;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     /* set body font size to 16px  */
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--dark-text);
    background-color: var(--light-background);
}

h1,
h2,
h3,
h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}
p {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-highlight);
}

/*Header and Main Navigation elements*/

header {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-background);
}

header h1{
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
}

nav {
    display: flex;
}
  
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    align-items: center;
}

nav a {
    padding: 14px 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    width: 100%;
    text-align: center;
    background-color: var(--dark-background);
    color: var(--dark-background);
}

/* Center Profile picture */
.profile {
    display: block;
    margin: 0 auto;
}

/* Work Section formatting */
.project-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:baseline;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin:-1.5rem;
    margin-bottom: 1.5rem;   
}

/* boxes for projects */
.card, .first-card {
    color: var(--link-color);
    background-color: var(--light-background);
    transition: all 0.5s ease-in-out;
    position:relative;
    /* Figure outline */
    outline: 2px solid var(--dark-text);
    outline-offset: -1px;

}
.card {
    flex: 0 0 33.333%;
}

.first-card {
    flex:0 0 100%;
}

/* Sizing for project images */
.card::after, .first-card::after{
    content: "";
    display: block;
}

.card::after {
    padding:25%;
}

.first-card::after {
    padding: 15%;
}

.card img, .first-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
}

/* On hover effect for image */
.card:hover img, .first-card:hover img {
    opacity: 0.9;
}

/* Project names appear on bottom left corner and in front of project images */
.card h3, .first-card h3 {
    position: absolute;
    bottom: -0.5rem;
    left:0;
    width:75%;
    padding-left: 1.6rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    z-index: 1;
    background-color: var(--dark-background);

}

.contact a{
    color: var(--dark-background);
}

.contact a:hover{
    color: var(--link-color);
}

@media screen and (max-width: 992px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card {
      flex-basis: 50%;
    }
}
  
/* media query for phone screens */
@media screen and (max-width: 768px) {
    /*center instead of aligning to the left*/
    .project-cards {
        justify-content: center;
    }

    .card, .first-card {
        flex-basis:95%;
        max-width:95%;
    }

    .first-card::after {
        padding: 30%;
    }

}